*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: black;
}

nav{
    position: absolute;
    top: 2mm;
    left: 2mm;
    transition: all .1s;
    opacity: 75%;
}

nav a{
    color: white;
    text-decoration-line: none;
}

nav:hover{
    transform: translateX(2%);
    opacity: 100%;
}

nav a:hover{
    text-decoration-line: underline;
}
