*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: black;
}

.footer{
    position: fixed;
    bottom: 1mm;
    left: 1mm;
    color: white;
}

.footer a{
    color: white;
}