*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: black;
}

nav{
    position: absolute;
    top: 2mm;
    left: 2mm;
    transition: all .1s;
    opacity: 75%;
}

nav a{
    color: white;
    text-decoration-line: none;
}

nav:hover{
    transform: translateX(2%);
    opacity: 100%;
}

nav a:hover{
    text-decoration-line: underline;
}

.logo{
    width: 7.5cm;
}

/* formularios */
form{
    background-color: white;
    padding: 3mm;
    margin-left: 5cm;
    margin-right: 5cm;
    border-top-left-radius: 0.2cm;
    border-top-right-radius: 0.2cm;
    text-align: center;
}

form a{
    color: black;
    background-color: transparent;
    text-decoration-line: none;
    border: solid black 1px;
    padding: 1mm;
    border-radius: 0.1cm;
    opacity: 70%;
    margin-top: 1.5mm;
    display: inline-block;
    transition: all .1s;
}

form a:hover{
    color: white;
    background-color: black;
    opacity: 100%;
}

form h1{
    opacity: 70%;
}

form h2, form h4{
    opacity: 70%;
}

form h4{
    margin-bottom: 3mm;
    width: 10cm;
}

form hr{
    opacity: 60%;
    margin-top: 3mm;
    margin-bottom: 3mm;
    width: 45%; 
}


form input, form textarea, form select{
    border: none;
    border-left: solid black 5px;
    border-radius: 0.1cm;
    padding: 2mm;
    margin-top: 3mm;
    margin-bottom: 3mm;
    outline: none;
    font-size: 20px;
    background-color: rgb(230, 230, 230);
    transition: all .1s;
}

form input:focus{
    transform: translateX(3%);
    border-left: solid gray 5px;
}

form select{
    padding: 0;
}

form textarea{
    resize: vertical;
}

form select{
    padding: 1mm;
}

.enviar{
    opacity: 70%;
    transition: all .1s;
}

.enviar:hover{
    opacity: 100%;
    cursor: pointer;
}

@media(max-width: 895px){
    form{
        margin-left: 2cm;
        margin-right: 2cm;
    }
}

@media(max-width: 677px){
    form{
        font-size: 14px;
    }

    form input, form textarea, form select{
        font-size: 18px;
    }
}

@media(max-width: 623px){
    form h4{
        width: auto;
    }
}

@media(max-width: 551px){
    form{
    }

    form input, form textarea, form select{
        font-size: 16px;
    }
}

@media(max-width: 502px){
    form input, form textarea, form select{
        font-size: 15px;
    }

    form{
        margin-left: 1cm;
        margin-right: 1cm;
    }
}

@media(max-width: 428px){
    form h1{
        font-size: 24px;
    }
}

@media(max-width: 354px){
    form{
        margin-left: 5mm;
        margin-right: 5mm;
    }
    
    form textarea{
        width: 80%;
    }
}

@media(max-width: 291px){
    .logo{
        width: 100%;
    }
}