form{
    background-color: white;
    width: 8cm;
    padding: 3mm;
    border-top-left-radius: 0.3cm;
    border-top-right-radius: 0.3cm;
}

form a{
    color: black;
    background-color: transparent;
    text-decoration-line: none;
    border: solid black 1px;
    padding: 1mm;
    border-radius: 0.1cm;
    opacity: 70%;
    margin-top: 1.5mm;
    display: inline-block;
    transition: all .1s;
}

form a:hover{
    color: white;
    background-color: black;
    opacity: 100%;
}

form hr{
    opacity: 60%;
    margin-top: 3mm;
    margin-bottom: 3mm;
    margin-left: 1.5cm;
    margin-right: 1.5cm;
}

form p{
    opacity: 70%;
}

form input, form textarea, form select{
    border: none;
    padding: 2mm;
    margin: 1mm;
    background-color: rgb(230, 230, 230);
}

form select{
    padding: 0;
}

form textarea{
    resize: vertical;
}

form select{
    padding: 1mm;
}


