form{
    background-color: white;
    width: max-content;
    padding: 3mm;
    border-top-left-radius: 0.3cm;
    border-top-right-radius: 0.3cm;
}

p{
    color: ;
}

form input{
    border: none;
    padding: 2mm;
    margin: 1mm;
    background-color: rgb(230, 230, 230);
}

